{% extends "layout.html" %}

	{% block content %}
			<div class="banner-bottom">
				<!-- container -->
				<div class="container">
					<table class="table-striped col-md-12">
						<tr>
							<th><center>Nombre del Artículo</center></th>
							<th><center>Fecha de creación</center></th>
							<th><center>Editando</center></th>
							<th><center>Acciones</center></th>
						</tr>
						<tr>
							<td class="Nombre">Artículo Interesante</td>
							<td class="Fecha">10/10/2016</td>
							<td><center>Si</center></td>
							<td><a href="/modificar_articulo" class="btn btn-warning col-md-6">Modificar</a><button class="btn btn-success col-md-6" onclick="publicar(this.parentNode.parentNode)">Publicar</button></td>
						</tr>
						<tr>
							<td>Artículo más o menos interesante</td>
							<td>09/10/2016</td>
							<td><center>No</center></td>
							<td><a href="/modificar_articulo" class="btn btn-warning col-md-6">Modificar</a><button class="btn btn-success col-md-6" onclick="publicar()">Publicar</button></td>
						</tr>
						<tr>
							<td>Artículo no tan interesante</td>
							<td>14/09/2016</td>
							<td><center>Si</center></td>
							<td><a href="/modificar_articulo" class="btn btn-warning col-md-6">Modificar</a><button class="btn btn-success col-md-6" onclick="publicar()">Publicar</button></td>
						</tr>
						<tr>
							<td>Artículo breve</td>
							<td>09/10/2016</td>
							<td><center>No</center></td>
							<td><a href="/modificar_articulo" class="btn btn-warning col-md-6">Modificar</a><button class="btn btn-success col-md-6" onclick="publicar()">Publicar</button></td>
						</tr>
						<tr>
							<td>Artículo extenso</td>
							<td>05/11/2016</td>
							<td><center>No</center></td>
							<td><a href="/modificar_articulo" class="btn btn-warning col-md-6">Modificar</a><button class="btn btn-success col-md-6" onclick="publicar()">Publicar</button></td>
						</tr>
					</table>
				</div>
				<br> <br>	
				<!-- //container -->
			</div>
			<center> <button class="cargar">Cargar Más</button> </center>
	{% endblock %}