{% extends "layout.html" %}

	{% block content %}
			<div class="banner-bottom">
				<!-- container -->
				<div class="container">
					<table class="table-striped col-md-12" id="table">
						<tr>
							<th><center>Nombre del Artículo</center></th>
							<th><center>Fecha de creación</center></th>
							<th><center>Editando</center></th>
							<th><center>Acciones</center></th>
						</tr>
						
					</table>
				</div>
				<br> <br>	
				<!-- //container -->
			</div>
			<center> <button class="cargar" id="load_more_nopub">Cargar Más</button> </center>
	{% endblock %}
	
		{% block scripts %}
	
		<script type="text/javascript" src="{{ url_for('static', filename='js/articulos_no_publicados.js') }}"></script>
	{% endblock %}
