{% extends "layout.html" %}

	{% block content %}
		<div class="blog">
			<!-- container -->
			<div class="container">
				<form action="/crear_save?autor={{autor}}" method="POST" enctype="multipart/form-data">
				<div class="col-md-12 blog-top-left-grid">
					<div class="left-blog left-single">
						<div class="blog-left">
							<div class="single-left-left">								
								<h3>Crear Artículo</h3>	
								<hr>							
							</div>	

							<div class="single-left-left">								
								<h3>Plantilla de creación</h3>								
							</div>

							
							<center><div class="col-md-6 blog-top-left-grid">
								<div class="form-inline">
		                          <label for="text" style="width: 150px">Título: </label>
		                          <input type="text" class="form-control" id="text" style="width: 250px" name="nombre"required>
		                        </div>
		                        <br>
		                        <div class="form-inline">
		                          <label for="text" style="width: 150px">Breve Resumen: </label>
		                          <textarea class="form-control" name="resumen" rows="5" id="comment"  style="width: 250px" required></textarea>
		                        </div>
		                        <br>
		                        <div class="form-inline">
		                          <label for="text" style="width: 150px">Palabras claves: </label>
		                          <input type="text" class="form-control" id="text" style="width: 250px" name="palabras" required>
		                        </div> 
		                        <br>



							</div>	</center>

							<center><div class="col-md-6 blog-top-left-grid">
								<br>
								<br>
								<div class="form-inline">
		                          <label for="text" style="width: 150px">Imagen: </label>
		                          <input type="file" class="btn btn-primary" name="image" style="width: 350px" id="image" >
		                        </div>
		                        <br>
		                        <br>

							</div></center>					


						</div>

					</div>
				</div>	


								<div class="single-left-left">								
									<h3>Cuerpo del artículo</h3>								
								</div>

								<center>  <textarea class="form-control" rows="5" id="comment"  style="width: 100%" name="cuerpo" required></textarea> </center>
								<br>

								<center><button type="submit" class="btn btn-success">Crear</button> </center>

				</form>			
				<div class="clearfix"> </div>
			</div>
			<!-- //container -->
		</div>
		
		{% endblock %}
