{% extends "layout.html" %}

	{% block content %}
			<div class="banner-bottom">
				<!-- container -->
				<div class="container">
					<div class="banner-bottom-info">
						<h3>Artículos Recientes</h3>
					</div>
					<div id="feed" name="feed" class="banner-bottom-grids">
						<!--<div class="clearfix"> </div>-->
					</div>
				</div>
				<!-- //container -->
			</div>
			<center> <button id="load_more" class="cargar" action="load_more()">Cargar Más</button> </center>
			<!-- //banner-bottom -->
			<!-- footer -->
	{% endblock %}
	
	{% block scripts %}
		<script type="text/javascript" src="{{ url_for('static', filename='js/load_feed.js') }}"></script>
	{% endblock %}
