<!DOCTYPE html>
<html>
	<head>
	    <!--Title-->
		<title> Daily Planet</title>
		
		<!--meta-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Forward Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
		Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		
		<!--CSS-->
		<link href={% static "css/style.css" %} rel="stylesheet" type="text/css" media="all" />
		<link href={% static "css/bootstrap.css" %} rel="stylesheet" type="text/css" media="all">
		
		<!--JS-->
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<script src="js/jquery.min.js"></script>
		<script type="text/javascript" src={% static "js/move-top.js" %}></script>
		<script type="text/javascript" src={% static "js/easing.js" %}></script>
		<script type="text/javascript">
    		jQuery(document).ready(function($) {
    			$(".scroll").click(function(event){
    				event.preventDefault();
    		        $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
    		    });
    		});
		</script>

	</head>
	<!-- header -->
	<div class="content">
		<div class="header navbar-fixed-top" >
			<div class="header-top">
				<!-- container -->
				<div class="container">
					<div class="header-top-left">
						<ul>
							<li><a href="index.html">PRINCIPAL</a></li>
							<li><a href="#">DESTACADOS</a></li>
							<li><a href="#" role="button" data-toggle="modal" data-target="#login-modal" onclick="login()">INICIAR SESIÓN</a></li>
							<li><a href="registro.html">REGISTRARSE</a><li>
							<li><a href="#">AYUDA</a><li>
						</ul>
					</div>
					<div class="header-top-right">
						<form>
							<a href="perfil.html" class="btn fix-btn">Mi perfil</a>
							<input type="text" placeholder=" " required="">
							<input type="submit" value=" ">
							<div class="clearfix"> </div>
						</form>
					</div>
					<div class="clearfix"> </div>
				</div>
				<!-- //container -->
			</div>
			
			<div class="blue"> </div>
		</div>
		<body style="padding-top: 80px;">
			
			<center><div style="margin-bottom: -60px">
				<img src={% static "images/logo.png" %} class="img-responsive">
			</div></center>
			
			{% block content %}{% endblock %}
			
			<!-- footer -->
			<div class="footer">
				<!-- container -->
				<div class="container">
					<div class="footer-top">
						<div class="footer-grids">
							<div class="col-md-3 f-address">
								<h5>Dirección</h5>
								<ul>
									<li>Algún lugar</li>
									<li>En alguna calle</li>
									<li>En algun sitio especifico</li>
									<li>E-mail : <a href="mailto:example@email.com">dailyplanet@gmail.com</a></li>
								</ul>
							</div>
							<div class="col-md-6 f-address f-contact">
								<h5>Suscribete</h5>
								<form>
									<input type="text" placeholder="Correo electrónico" required="">
									<input type="submit" value="Suscribir">
								</form>
							</div>
							<div class="col-md-3 footer-logo">
								<a href="index.html">DailyPlanet</a>
								<div class="footer-left">
									<ul>
										<li><a class="facebook" href="#"></a></li>
										<li><a class="twitter" href="#"></a></li>
										<li><a class="linked-in" href="#"></a></li>
										<li><a class="you-tube" href="#"></a></li>
									</ul>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="footer-bottom">
							<div class="copyright">
								<p>© 2015 DailyPlanet. All Rights Reserved</p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<!-- //container -->
			</div>
		</div>
		
		<!-- //footer -->
		<div class="groupforms">
			<div class="login" style="visibility: hidden;">
				<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
								<h1 class="text-center"><i>Iniciar Sesión</i></h1>
							</div>
							<div class="modal-body">
								<form class="form col-md-12 center-block">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Email" name="email">
									</div>
									<div class="form-group">
										<input type="password" class="form-control" placeholder="Password" name="password">
									</div>
									<div class="form-group">
										<button class="btn btn-primary btn-block" style="background-color: #00A78E; border-color: #00A764;">Entrar</button>
										<span class="pull-right"><a href="registro.html" style="color: #00A78E">Registro</a></span><span><a href="#" onclick="forgetpass()" style="color: #00A78E">Olvidó su contraseña?</a></span>
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<div class="col-md-12">
									<button id="cancel" class="btn" data-dismiss="modal" aria-hidden="true" onclick="cancel()">Cancel</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="forgetpass" style="visibility: hidden;">
				<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
								<h1 class="text-center"><i>Recuperar Contraseña</i></h1>
							</div>
							<div class="modal-body">
								<form class="form col-md-12 center-block">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Email" name="recoverpass_email">
									</div>
									<div class="form-group">
										<button class="btn btn-primary btn-block" style="background-color: #00A78E; border-color: #00A764;">Enviar Contraseña</button>
										<span class="pull-right"><a href="registro.html" style="color: #00A78E">Registro</a></span><span><a href="#" onclick="login()" style="color: #00A78E">Iniciar Sesión</a></span>
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<div class="col-md-12">
									<button id="cancel" class="btn" data-dismiss="modal" aria-hidden="true" onclick="cancel()">Cancel</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src={% static "js/login.js" %}></script>
		<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
											containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear'
										};
										*/
										
										$().UItoTop({ easingType: 'easeOutQuart' });
										
									});
		</script>
		<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
		<!-- content-Get-in-touch -->
	</body>
</html>