{% extends "layout.html" %}

	{% block content %}
	
		<div class="blog">
			<!-- container -->
			<div class="container">
				<form action="/modificar_articulo_save" method="POST">
					<div class="col-md-12 blog-top-left-grid">
						<div class="left-blog left-single">
							<div class="blog-left">
								<div class="single-left-left">
									<h3>Modificar Artículo</h3>
									<hr>
								</div>
								<div class="single-left-left">
									<h3>Plantilla de creación</h3>
								</div>
								
								<center><div class="col-md-6 blog-top-left-grid">
									<div class="form-inline">
										<label for="title" style="width: 150px">Título: </label>
										<input type="text" class="form-control" name="nombre" id="title" style="width: 250px" value="{{data.nombre}}" required/>
									</div>
									<br>
									<div class="form-inline">
										<label for="comment" style="width: 150px">Breve Resumen: </label>
										<textarea class="form-control" rows="5" id="comment" name="resumen" style="width: 250px" required> {{data.resumen}}</textarea>
									</div>
									<br>
									<div class="form-inline">
										<label for="keywords" style="width: 150px">Palabras claves: </label>
										<input type="text" class="form-control" id="keywords" name="palbras" style="width: 250px" value="{{data.palabras}}" required>
									</div>
									<br>
								</div>	</center>
								<center><div class="col-md-6 blog-top-left-grid">
									<br>
									<br>
									<div class="form-inline">
										<label for="image" style="width: 150px">Imagen: </label>
										<input type="file" class="btn btn-primary" style="width: 350px" id="image">
									</div>
									<br>
									<div class="form-inline">
										<center><img src="/get_image?path={{data.imagen}}" ></center>
									</div>
									<br>
								</div></center>
							</div>
						</div>
					</div>
					<div class="single-left-left">
						<h3>Cuerpo del artículo</h3>
					</div>
					<center>  <textarea class="form-control" rows="5" id="comment" name="cuerpo" style="width: 100%" required>{{data.cuerpo}}</textarea> </center>
					<br>
					<center><button type="submit" class="btn btn-success" >Modificar</button> </center>
				</form>
				<div class="clearfix"> </div>
			</div>
			<!-- //container -->
		</div>
		<!-- //blog -->
		
		{% endblock %}

