
			<div class="banner-bottom">
	{% extends "layout.html" %}

	{% block content %}
				<!-- container -->
				<div id="profile" class="container">
					<div class="separator">
						<center><h2><i>Modificar Perfil</i></h2></center>
					</div>
					<div class="separator">
						<div class="container_">
							<form action="/modificar_perfil_save" method="POST" enctype="multipart/form-data">
								<div class="modal-body">
									<form class="form center-block">
										<div class="form-group">
											<label for="nombre">Nombre: </label>
											<input type="text" class="form-control" placeholder="Nombre" name="nombre" value="{{user.nombre}}" required>
										</div>
										<div class="container">
											<center><img src="/get_image?path={{user.avatar}}" alt="" width="200" height="200"></center>
										</div>
										<div class="form-group">
											<label for="avatar">Avatar: </label>
											<input type="file" class="form-control" name="avatar" placeholder="Seleccione un archivo">
										</div>
										<div class="form-group">
											<label for="descripcion">Descripción: </label> <br>	
											<textarea name="descripcion" id="descripcion" cols="67" rows="10" style="color: black;" required> {{user.descripcion}} </textarea>
											
										</div>
										<div class="container_">
											<div class="form-group">
												<button type="submit" class="btn btn-primary btn-block" style="background-color: #00AA00; border-color: #00A764;" name="_id" id="_id" value="{{user._id}}" >Guardar Información</button>
											</div>
										</div>
									</form>
								</div>
							</form>
						</div>
					</div>
				</div>
				<br><br>
				<!-- //banner-bottom -->
				
				{% endblock %}
