
{% extends "layout.html" %}

	{% block content %}
	<center><div style="margin-bottom: -60px">
				<img src="{{ url_for('static', filename='images/logo.png') }}" class="img-responsive">
	</div></center>
	
	<div class="blog">
			<!-- container -->
			<div class="container">
				<div class="banner-bottom-info">
	               <center>  <h3>{{msg}}</h3> <center>
	            </div>
	            <br> 
	            <br>
	            <center><a href="/" class="btn btn-success">Volver al Menú Principal</a></center>
	       </div>
	 </div>



	{% endblock %}