
{% extends "layout.html" %}

	{% block content %}
	
	<div class="blog">
			<!-- container -->
			<div class="container">
				<div class="col-md-9 blog-top-left-grid">
					<div class="left-blog left-single">
						<div class="blog-left">
							<div class="single-left-left">
	                            <h3>Operación Exitosa</h3>
	                            <br> 
	                            <center></center><button class="cargar" >Volver al Menú Principal </button></center>
	                       </div>
	                    </div>
	             </div>
	        </div>
	    </div>
  </div>


	{% endblock %}