{% extends "layout.html" %}

	{% block content %}
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12">
						
						<div class="col-lg-12 col-md-12 col-xs-12" style:"float:center">
							<div class="registro">
								<form action="/registro_save" method="POST">
									<h2><i>Registro</i></h2>
									<hr>
									<div class="form-inline">
										<label for="text" style="width: 200px;">Nombre:</label>
										<input type="text" class="form-control" id="text"  name="nombre" style="width: 400px;" required>
									</div>
									<br>
									<div class="form-inline">
										<label for="email" style="width: 200px;">Correo Electrónico:</label>
										<input type="email" class="form-control" id="email" name="email" style="width: 400px;" required>
									</div>
									<br>
									<div class="form-inline" >
										<label for="pwd" style="width: 200px;">Contraseña:</label>
										<input type="password" class="form-control" id="pwd" name="password"style="width: 400px;" required>
									</div>
									<br>
									<div class="form-inline" >
										<label for="pwd_r" style="width: 200px;">Repita su Contraseña:</label>
										<input type="password" class="form-control" id="pwd_r" name="password_r" style="width: 400px;" required>
									</div>
									<br>
									<div class="form-inline" >
										<label  style="width: 200px" >Tipo de usuario</label>
										<select class="form-control" style="width: 400px" name="tipo">
											<option value="editor">Editor</option>
											<option value="lector">Lector</option>
											<option value="autor">Autor</option>
										</select>
									</div>
									<br>
									
									<div class="col-md-4"></div>
									<button type="submit" class="btn btn-default col-md-4">Finalizar</button>
									<div class="col-md-4"></div>
								</form>
							</div>
							
						</div>
					</div>
					
				</div>
				
			</div>
			
			{% endblock %}

