


{% extends "layout.html" %}

	{% block content %}
	
		<center><div style="background-color:black; padding-top: 10px">
		<div class="footer-logo">
						<a href="index.html">Compartir / Favorito</a>
								<div class="footer-left">
									<ul>
										<li><a class="facebook" href="#"></a></li>
										<li><a class="twitter" href="#"></a></li>
										<li><a href="/add_favorito?id={{ item._id }}"> <span class="glyphicon glyphicon-star-empty"> </span> </a></li>
									</ul>
								</div>
							</div>
		</div></center>
		<div class="blog">
			<!-- container -->
			<div class="container">
				<div class="col-md-9 blog-top-left-grid">
					<div class="left-blog left-single">
						<div class="blog-left">
							<div class="single-left-left">
								<p>Autor <a href="#">{{item.autor}}</a> &nbsp;&nbsp;{{item.fecha}} &nbsp;&nbsp; <a href="#">Comentarios ({{ item.comentarios|length }})</a></p>
								<h3>{{item.nombre}}</h3>
								<img src="/get_image?path={{item.imagen}}" alt="" />
							</div>
							<div class="blog-left-bottom">
								<P> {{item.cuerpo}}
								</P>
							</div>
						</div>
						
						
							
							
						
					
						<div class="response">
							<h3>Comentarios</h3>
							{% for comentario in item.comentarios recursive %}
							        {% if comentario.respuestas %}
							        	<div class="media response-info">
							                <div class="media-left response-text-left">
							                	<img class="media-object" src="/get_image_username?name={{comentario.nombre}}" alt=""> <!-- Aqui cambiar la ruta -->
							                	<h5>{{comentario.nombre}}</h5>
							                </div>
							                
							                
							                <div class="media-body response-text-right">
								                <p>{{comentario.cuerpo}}</p>
								                
								                <ul>
								                	<li>{{comentario.fecha}}</li>
								                	<li><button class="btn-responder btn btn-default">Responder</button></li>
								                	<div class="responder opinion" style="margin-top:10px">
								                		<form>
															<textarea placeholder="Mensaje" name="comentario" id="comentario" required></textarea>
															<a href="#" id="upload_comentario" id_usuario="{{user._id}}" id_articulo="{{item._id}}" class="btn btn-default"> ENVIAR </a>
														</form>
								                	</div>
								                </ul>
								                
								                <div class="media response-info">
								                	{{loop(comentario.respuestas)}}
								                	<div class="clearfix"> </div>
								                </div>
				
							                </div>
							             </div> 
							        {% else %}
							        	<div class="media response-info">
							               <div class="media-left response-text-left">
							                	<img class="media-object" src="/get_image_username?name={{comentario.nombre}}" alt=""> <!-- Aqui cambiar la ruta -->
							                	<h5>{{comentario.nombre}}</h5>
							                </div>
							                
							                <div class="media-body response-text-right">
							                	<p>{{comentario.cuerpo}}</p>
								                <ul>
								                	<li>{{comentario.fecha}}</li>
								                	<li><button class="btn-responder btn btn-default">Responder</button></li>
								                	<div class="responder opinion" style="margin-top:10px">
								                		<form>
															<textarea placeholder="Mensaje" name="comentario" id="comentario" required></textarea>
															<a href="#" id="upload_comentario" id_usuario="{{user._id}}" id_articulo="{{item._id}}" class="btn btn-default"> ENVIAR </a>
														</form>
								                	</div>
								                </ul>
							                </div>
							                <div class="clearfix"> </div>
							            </div>
							        {% endif %}
							{% endfor %}
						
							<div class="opinion" id="fondo" style="margin-top:10px">
								<h3>Deja tu comentario</h3>
								<form>
									<textarea placeholder="Mensaje" name="comentario" id="comentario" required></textarea>
									<a id="upload_comentario" id_usuario="{{user._id}}" id_articulo="{{item._id}}" class="btn btn-default"> ENVIAR </a>
								</form>
									
								
							</div>
					</div>
				</div>
				</div>
				
				
				
				<div class="col-md-3 blog-top-right-grid">
					<div class="Categories">
						<h3>Categorías</h3>
						<ul>
							<li><a href="#">{{item.categoria}}</a></li>
						</ul>
					</div>
					
				</div>
				<div class="clearfix"> </div>
			</div>
			<!-- //container -->
		</div>
		<!-- //blog -->
		
		{% endblock %}

		{% block scripts %}
	
		<script type="text/javascript" src="{{ url_for('static', filename='js/single.js') }}"></script>
		
		{% endblock %}