
</head>
	<!DOCTYPE html>
<html>
<head>
<title> Daily Planet</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Forward Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<!-- js -->
<script src="js/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- js -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
	$(".scroll").click(function(event){		
		event.preventDefault();
	$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
});
});
</script>
<!-- start-smoth-scrolling -->
</head>
<!-- header -->
		<div class="header navbar-fixed-top" >
			<div class="header-top">
				<!-- container -->
				<div class="container">
					<div class="header-top-left">
						<ul>
							<li><a href="index.html">PRINCIPAL</a></li>
							<li><a href="index.html">DESTACADOS</a></li>
							<li><a href="articulos_publicados.html">ARTICULOS PUBLICADOS</a></li>
							<li><a href="articulos_no_publicados.html">ARTICULOS NO PUBLICADOS</a></li>
							<li><a href="#">AYUDA</a><li>
						</ul>
					</div>
					<div class="header-top-right">
						<form>
							<a href="perfil.html" class="btn fix-btn">Mi perfil</a>
							<input type="text" placeholder=" " required="">
							<input type="submit" value=" ">
							<div class="clearfix"> </div>
						</form>
					</div>
					<div class="clearfix"> </div>
				</div>
				<!-- //container -->
			</div>
			
			<div class="blue"> </div>
		</div>

	<body style="padding-top: 80px;">
		<!-- //header -->
		<!-- blog -->
		<center><div style="background-color:black; padding-top: 10px">
		<div class="footer-logo">
						<a href="index.html">Compartir</a>
								<div class="footer-left">
									<ul>
										<li><a class="facebook" href="#"></a></li>
										<li><a class="twitter" href="#"></a></li>
										<li><a class="linked-in" href="#"></a></li>
										<li><a class="you-tube" href="#"></a></li>
									</ul>
								</div>
							</div>
		</div></center>
		<div class="blog">
			<!-- container -->
			<div class="container">
				<div class="col-md-9 blog-top-left-grid">
					<div class="left-blog left-single">
						<div class="blog-left">
							<div class="single-left-left">
								<p>Autor <a href="#">Admin</a> &nbsp;&nbsp;el 2 de Julio, 2015 &nbsp;&nbsp; <a href="#">Comentarios (3)</a></p>
								<h3>Título</h3>
								<img src="images/c3.jpg" alt="" />
								
							</div>							
							
							<div class="blog-left-bottom">
								<P>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Sed blandit massa vel mauris sollicitudin 
									dignissim. Phasellus ultrices tellus eget ipsum ornare molestie scelerisque eros dignissim. Phasellus 
									fringilla hendrerit lectus nec vehicula. ultrices tellus eget ipsum ornare consectetur adipiscing elit.Sed blandit .
								</P>
							</div>
							<div class="blog-left-bottom left-bottom">
								<P>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Sed blandit massa vel mauris sollicitudin 
									dignissim. Phasellus ultrices tellus eget ipsum ornare molestie scelerisque eros dignissim. Phasellus 
									fringilla hendrerit lectus nec vehicula. ultrices tellus eget ipsum ornare consectetur adipiscing elit.Sed blandit .
								</P>
							</div>
							<div class="blog-left-bottom left-bottom">
								<P>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Sed blandit massa vel mauris sollicitudin 
									dignissim. Phasellus ultrices tellus eget ipsum ornare molestie scelerisque eros dignissim. Phasellus 
									fringilla hendrerit lectus nec vehicula. ultrices tellus eget ipsum ornare consectetur adipiscing elit.Sed blandit .
								</P>
							</div>
						</div>
						<div class="response">
							<h3>Comentarios</h3>
							<div class="media response-info">
								<div class="media-left response-text-left">
									<a href="#">
										<img class="media-object" src="images/icon1.png" alt="">
									</a>
									<h5><a href="#">Admin</a></h5>
								</div>
								<div class="media-body response-text-right">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available, 
										sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									<ul>
										<li>21 de Julio, 2015</li>
										<li><a href="single.html">Responder</a></li>
									</ul>
									<div class="media response-info">
										<div class="media-left response-text-left">
											<a href="#">
												<img class="media-object" src="images/icon1.png" alt="">
											</a>
											<h5><a href="#">Admin</a></h5>
										</div>
										<div class="media-body response-text-right">
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available, 
												sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
											<ul>
												<li>21 de Julio, 2015</li>
												<li><a href="single.html">Responder</a></li>
											</ul>		
										</div>
										<div class="clearfix"> </div>
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="media response-info">
								<div class="media-left response-text-left">
									<a href="#">
										<img class="media-object" src="images/icon1.png" alt="">
									</a>
									<h5><a href="#">Admin</a></h5>
								</div>
								<div class="media-body response-text-right">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available, 
										sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
									<ul>
										<li>21 de Julio, 2015</li>
										<li><a href="single.html">Responder</a></li>
									</ul>		
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div class="opinion">
							<h3>Deja tu comentario</h3>
							<form>
								<input type="text" placeholder="Nombre" required="">
								<textarea placeholder="Mensaje" required=""></textarea>
								<input type="submit" value="ENVIAR">
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-3 blog-top-right-grid">
					<div class="Categories">
						<h3>Categorías</h3>
						<ul>
							<li><a href="#">Phasellus sem leo, interdum quis risus</a></li>
							<li><a href="#">Nullam egestas nisi id malesuada aliquet </a></li>
							<li><a href="#"> Donec condimentum purus urna venenatis</a></li>
							<li><a href="#">Ut congue, nisl id tincidunt lobor mollis</a></li>
							<li><a href="#">Cum sociis natoque penatibus et magnis</a></li>
							<li><a href="#">Suspendisse nec magna id ex pretium</a></li>
						</ul>
					</div>
					
				</div>
				<div class="clearfix"> </div>
			</div>
			<!-- //container -->
		</div>
		<!-- //blog -->
		<!-- footer -->
			<div class="footer">
			<!-- container -->
			<div class="container">
				<div class="footer-top">
						<div class="footer-grids">
							<div class="col-md-3 f-address">
								<h5>Dirección</h5>
								<ul>
									<li>Algún lugar</li>
									<li>En alguna calle</li>
									<li>En algun sitio especifico</li>
									<li>E-mail : <a href="mailto:example@email.com">dailyplanet@gmail.com</a></li>
								</ul>
							</div>
							<div class="col-md-6 f-address f-contact">
								<h5>Suscribete</h5>
								<form>
									<input type="text" placeholder="Correo electrónico" required="">
									<input type="submit" value="Suscribir">
								</form>
							</div>
							<div class="col-md-3 footer-logo">
								<a href="index.html">DailyPlanet</a>
								<div class="footer-left">
									<ul>
										<li><a class="facebook" href="#"></a></li>
										<li><a class="twitter" href="#"></a></li>
										<li><a class="linked-in" href="#"></a></li>
										<li><a class="you-tube" href="#"></a></li>
									</ul>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="footer-bottom">
							<div class="copyright">
							  	<p>© 2015 DailyPlanet. All Rights Reserved</p>
							</div>
							<div class="clearfix"> </div>
						</div>
				</div>
			</div>
			<!-- //container -->
		</div>
		<!-- //footer -->
		<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear' 
								 		};
										*/
										
										$().UItoTop({ easingType: 'easeOutQuart' });
										
									});
								</script>
									<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!-- content-Get-in-touch -->
	</body>
</html>