


{% extends "layout.html" %}

	{% block content %}
	
		<center><div style="background-color:black; padding-top: 10px">
		<div class="footer-logo">
						<a href="index.html">Compartir</a>
								<div class="footer-left">
									<ul>
										<li><a class="facebook" href="#"></a></li>
										<li><a class="twitter" href="#"></a></li>
										<li><a class="linked-in" href="#"></a></li>
										<li><a class="you-tube" href="#"></a></li>
									</ul>
								</div>
							</div>
		</div></center>
		<div class="blog">
			<!-- container -->
			<div class="container">
				<div class="col-md-9 blog-top-left-grid">
					<div class="left-blog left-single">
						<div class="blog-left">
							<div class="single-left-left">
								<p>Autor <a href="#">{{item.autor}}</a> &nbsp;&nbsp;{{item.fecha}} &nbsp;&nbsp; <a href="#">Comentarios ({{ item.comentarios.length }})</a></p>
								<h3>{{item.nombre}}</h3>
								<img src="images/c3.jpg" alt="" />
							</div>
							<div class="blog-left-bottom">
								<P> {{item.cuerpo}}
								</P>
							</div>
						</div>
						<div class="response">
							<h3>Comentarios</h3>
							{% for comentario in {{item.comentarios}} recursive %}
							        {% if {{comentario.respuestas}} %}
							                <div class="media-left response-text-left">
							                	<img class="media-object" src="images/icon1.png" alt=""> <!-- Aqui cambiar la ruta -->
							                	<h5>{{comentario.nombre}}</h5>
							                </div>
							                
							                <div class="media-body response-text-right">
							                	<p>{{comentario.cuerpo}}</p>
							                </div>
							                <ul>
							                	<li>{{comentario.fecha}}</li>
							                	<li><a href="#">Responder</a></li>
							                </ul>
							                
							                <div class="media response-info">
							                	{{loop({{comentario.respuestas}})}}
							                </div>
							        {% else %}
							               <div class="media-left response-text-left">
							                	<img class="media-object" src="images/icon1.png" alt=""> <!-- Aqui cambiar la ruta -->
							                	<h5>{{comentario.nombre}}</h5>
							                </div>
							                
							                <div class="media-body response-text-right">
							                	<p>{{comentario.cuerpo}}</p>
							                </div>
							                <ul>
							                	<li>{{comentario.fecha}}</li>
							                	<li><a href="#">Responder</a></li>
							                </ul>
							        {% endif %}
							{% endfor %}
							<div class="opinion">
								<h3>Deja tu comentario</h3>
								<form>
									<textarea placeholder="Mensaje" required=""></textarea>
									<input type="submit" value="ENVIAR">
								</form>
							</div>
					</div>
				</div>
				</div>
				
				
				
				<div class="col-md-3 blog-top-right-grid">
					<div class="Categories">
						<h3>Categorías</h3>
						<ul>
							<li><a href="#">{{item.categoria}}</a></li>
						</ul>
					</div>
					
				</div>
				<div class="clearfix"> </div>
			</div>
			<!-- //container -->
		</div>
		<!-- //blog -->
		
		{% endblock %}
